#markdown-toc {
  list-style: none;
  padding-left: 1.5em;
}

#markdown-toc a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
}

#markdown-toc a:hover {
  color: #0085A1;
}

#markdown-toc > li::before {
  content: "✽ ";
}

#markdown-toc ul {
  list-style: none;
  padding-left: 1.5em;
}

#markdown-toc ul > li::before {
  content: "✻ ";
}
